<%- include('header')%>
            <form action="/chat" method="POST">
                <label for="hiba" name="hiba" id="hiba"><%= hiba %></label><br>
                <label for="nickname">Nickname:</label>
                <input type="text" name="nickname" class="form-control mb-2 animate__animated animate__fadeInDown" placeholder="give your nick name..." >
                <label for="password">password:</label>
                <input type="text" name="password" class="form-control mb-2 animate__animated animate__fadeInRight" placeholder="give your password..." >
                <label for="room">Room name:</label>
                <select name="room"class="form-control mb-2 animate__animated animate__bounce" id="">
                    <option value="Main room">Main room</option>
                    <option value="Frontend room">Frontend room</option>
                    <option value="Backend room">Backend room</option>
                    <option value="Mobile room">Mobile room</option>
                    <option value="Gamers room">Gamers room</option>
                    
                </select>
                <button class="btn btn-secondary">Join to room</button>
            </form>
            <a href="/register"> <button class="btn btn-secondary">register</button></a>
<%- include('footer')%>